.DS_Store
Thumbs.db

.*.swp
.swp

*.log
*.log.*

node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vitepress/dist
.vitepress/cache

dist/

docs/draft/
docs/work/
docs/bili/
docs/.obsidian

.env
.env.*

.vscode/

